# .env.example

ASSETS_IMAGES_PATH="src/chess_game/assets/images"
ASSETS_STOCKFISH_PATH="src/chess_game/assets/stockfish/stockfish-ubuntu-x86-64-avx2"

ASSETS_PIECE_SIZE="[64,64]"

ASSETS_WHITE_PAWN="white-pawn.png"
ASSETS_WHITE_ROOK="white-rook.png"
ASSETS_WHITE_KNIGHT="white-knight.png"
ASSETS_WHITE_BISHOP="white-bishop.png"
ASSETS_WHITE_QUEEN="white-queen.png"
ASSETS_WHITE_KING="white-king.png"

ASSETS_BLACK_PAWN="black-pawn.png"
ASSETS_BLACK_ROOK="black-rook.png"
ASSETS_BLACK_KNIGHT="black-knight.png"
ASSETS_BLACK_BISHOP="black-bishop.png"
ASSETS_BLACK_QUEEN="black-queen.png"
ASSETS_BLACK_KING="black-king.png"

GUI_SQUARE_LIGHT_COLOR="[240, 217, 181, 255]"
GUI_SQUARE_DARK_COLOR="[181, 136, 99, 255]"
GUI_SQUARE_SELECTED_COLOR="[128, 0, 128, 255]"
GUI_SQUARE_POSSIBLE_MOVE_COLOR="[128, 128, 128, 120]"

GUI_BOARD_BORDER_COLOR="[0, 0, 0, 255]"
GUI_BOARD_BORDER_WIDTH=1